/* @font-face {
  font-family: 'louis-george-cafe-bold-italic';
  src: URL('./fonts/louis-george-cafe.bold-italic.ttf') format('truetype');
} */

@font-face {
  font-family: louis-george-cafe-bold-italic;
  src: url("./fonts/louis-george-cafe.bold-italic.ttf") format("truetype");
  /* Add more font formats if necessary */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: louis-george-cafe-bold;
  src: url("./fonts/louis-george-cafe.bold.ttf") format("truetype");
  /* Add more font formats if necessary */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: louis-george-cafe-regular;
  src: url("./fonts/louis-george-cafe.regular.ttf") format("truetype");
  /* Add more font formats if necessary */
  font-weight: normal;
  font-style: normal;
}

.App {
  display: flex;
  justify-content: center;
  background: #f3f3f3;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  font-family: "louis-george-cafe-bold-italic";
}

/* p , h1 ,h2,h3 {
  font-family: 'louis-george-cafe-bold-italic';
  color: red !important;
} */

.p {
  font-family: "louis-george-cafe-bold-italic";
  color: green !important;
}



.viewport{
  width: 470px;
  border-left: 1px solid #c5aeae;
  border-right: 1px solid #c5aeae;
  border-bottom: 1px solid #c5aeae;
}




@media only screen and (min-width: 100px) and (max-width: 768px) {
  /* .btn {
    width: 200px !important;
  } */
}

@media screen and (max-width: 425px) {
  /* .viewport {
    width: 400px;
  } */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
