.select{
    height: 78px;
    width: 96px;
    border: 0.5px solid #DCDFE1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.icon{
    width: 50px;
}

.active {
    background-color: #45B6F9;
    color: white;
  }