.active {
    background-color: #66bc48 !important;
    color: white !important;
  }
  
  @media only screen and (min-width: 106px) and (max-width: 968px) {
.box{
  /* padding-left: 20px !important; */
  display: flex !important;
  justify-content: center !important;
  flex-direction: column;
}
  }