.nav-links{
    margin: 0;
    font-family: louis-george-cafe-bold,louis-george-cafe-bold;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    display: block;
    color: black;
    text-decoration: none;
}